<!DOCTYPE HTML>
<html lang="en">
<head>
<script src="/public/jquery.js"></script>
<link  href="/Manage/layout/layout.css" rel="stylesheet">
<!-- bootstrap-->
<link  href="/public/bootstrap/js/bootstrap.min.js" rel="stylesheet">
<link  href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">


<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<title>Admin</title>
</head> 
<body>
   <header id ="head">
    <project>
        <name> <span>三原色装饰工程有限公司</span>内容管理系统</name>
    </project>
    </header>
<div id ='head_s'></div>
