
<style>

body{
    margin:auto;
    line-height:14px;
    font-size: 100px;
    width:99%;
    background-color:red;
}

.material{

}
.ctn{
  padding:30px;
  margin: 10px;
  border: 1px solid rgb(222, 220, 220);
  border-radius: 5px;
}
.item{

}
.me_id{
    background-color: rgb(196, 196, 196);
    color:rgb(13, 77, 126);
    margin:8px;
}
</style>
 <div class="container-fluid" >
    <div class ='row'>
    <div class ='col-2'>
    </div>

 <!--middle -->
    <div class ='col-8'>
<div class ="material">
    {foreach $material as $key => $item}
    <div class='ctn'>
     <div class ='me_id'>  media_id:{$item['media_id']}  </div> 
            <!-- id -->
        {foreach $item['content'] as $item}
            <div  class ='content'>
            <div class ='item'> title   :{$item['title']}   </div>
            <div class ='item'> digest  :{$item['digest']}  </div> 
            <div class ='item'> content :{$item['content']} </div>
            <div class ='item'> url     :{$item['url']}     </div>
                    <!-- 素材体 -->
            </div>
        {/foreach}
      </div>
    {/foreach}
</div>

    </div>
<!--middle -->

    <div class ='col-2'>
    </div>

    </div>

</div>
