<div class="alert alert-secondary"  style="background-color: rgb(255, 255, 255)"="alert"> 
        <span>预约 列表：</span><br>
        <span style="font-size: 10px;">预约信息相关</span> 
     </div>
     
    <table class="table">
        <thead>
          <tr>
            <th scope="col">姓名</th>
            <th scope="col">电话</th>
            <th scope="col">地址</th>
            <th scope="col">留言</th>
            <th scope="col">日期</th>
            <th scope="col">操作</th>
          </tr>
        </thead>
        <tbody>
    {foreach $list as $row} 
          <tr>
            <td>{$row['re_name']} </td>
            <td>{$row['re_tel']} </td>
            <td>{$row['re_addr']} </td>
            <td>{$row['re_note']} </td>
            <td>{$row['re_date']}  </td>
            <td>
                <a href="/{$project_name}/Manage/Reserve/ReserveDelete?id={$row['re_id']}" class="btn  btn-sm btn-secondary"> 删除 </a>
            </td>
          </tr>
    {/foreach}
        </tbody>
      </table>
    
      <nav aria-label="Page navigation example" >
            <ul class="pagination">
              <li class="page-item"><a  style="color:rgb(31, 31, 31)"  class="page-link" onclick=page({$curr_count-1}) href="#">上一个</a></li>
              {for $i=1 to $count}
                 {if $i == $curr_count}
                <li class="page-item"><a style="color:rgb(22, 170, 180)" class="page-link" >{$i}</a></li>
                 {else}
                <li class="page-item"><a style="color:rgb(167, 167, 167)"  class="page-link" onclick=page({$i}) href="#">{$i}</a></li>
                {/if}
              {/for}
              <li class="page-item"><a style="color:rgb(33, 33, 33)" class="page-link" onclick=page({$curr_count+1}) href="#">下一个</a></li>
            </ul>
          </nav>
        
          <script>
        function page(index){
          if(index>{$count} || index < 0){
              return;
          }
          window.location.href='{$url}?&index='+index; 
        }

          </script>
    