<style>
	#item{
		font-size:20px;
		color:rgb(145, 142, 142);

	}
 
</style>

<div id= "item">
<span>精品设计方案 Decoration case</span><br>
<span style="font-size:12px;color:#d29908">海量设计案例，帮你开启新家装修的灵感</span>
<span></span>
<hr>
</div>


<div class=".card-columns">
		<div class="card col-sm-3" style="float:left; ">
		  <img class="card-img-top" src="/sites/Index/6.jpg" alt="Card image cap">
		  <div class="card-body">
			<h5 class="card-title">Card title</h5>
			<a class="card-text">This is a longer card with longer.</a>
			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		  </div>
		</div>

		<div class="card col-sm-3" style="float:left; ">
		  <img class="card-img-top" src="/sites/Index/5.jpg" alt="Card image cap">
		  <div class="card-body">
			<h5 class="card-title">Card title</h5>
			<a class="card-text">This is a longer card with longer.</a>
			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		  </div>
		</div>

		<div class="card col-sm-3" style="float:left; ">
		  <img class="card-img-top" src="/sites/Index/7.jpg" alt="Card image cap">
		  <div class="card-body">
			<h5 class="card-title">Card title</h5>
			<a class="card-text">This is a longer card with longer.</a>
			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		  </div>
		</div>

		<div class="card col-sm-3" style="float:left; ">
		  <img class="card-img-top" src="/sites/Index/3.jpg" alt="Card image cap">
		  <div class="card-body">
			<h5 class="card-title">Card title</h5>
			<a class="card-text">This is a longer card with longer.</a>
			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		  </div>
		</div>

		<div class="card col-sm-3" style="float:left; ">
				<img class="card-img-top" src="/sites/Index/3.jpg" alt="Card image cap">
				<div class="card-body">
				  <h5 class="card-title">Card title</h5>
				  <a class="card-text">This is a longer card with longer.</a>
				  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
	 </div>
		<div class="card col-sm-3" style="float:left; ">
				<img class="card-img-top" src="/sites/Index/a.jpg" alt="Card image cap">
				<div class="card-body">
				  <h5 class="card-title">Card title</h5>
				  <a class="card-text">This is a longer card with longer.</a>
				  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
	 </div>
		<div class="card col-sm-3" style="float:left; ">
				<img class="card-img-top" src="/sites/Index/b.jpg" alt="Card image cap">
				<div class="card-body">
				  <h5 class="card-title">Card title</h5>
				  <a class="card-text">This is a longer card with longer.</a>
				  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
	 </div>

</div>

		<div style="clear:both"></div>
		
		<div id= "item">
				<span>VR 实景</span><br>
				<span style="font-size:12px;color:#d29908">身临其境的体验</span>
				<span></span>
				<hr>
				</div>
		<div class=".card-columns">
				<div class="card col-sm-3" style="float:left; ">
				  <img class="card-img-top" src="/sites/Index/6.jpg" alt="Card image cap">
				  <div class="card-body">
					<h5 class="card-title">Card title</h5>
					<a class="card-text">This is a longer card with longer.</a>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				  </div>
				</div>
		
				<div class="card col-sm-3" style="float:left; ">
				  <img class="card-img-top" src="/sites/Index/5.jpg" alt="Card image cap">
				  <div class="card-body">
					<h5 class="card-title">Card title</h5>
					<a class="card-text">This is a longer card with longer.</a>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				  </div>
				</div>
		
				<div class="card col-sm-3" style="float:left; ">
				  <img class="card-img-top" src="/sites/Index/7.jpg" alt="Card image cap">
				  <div class="card-body">
					<h5 class="card-title">Card title</h5>
					<a class="card-text">This is a longer card with longer.</a>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				  </div>
				</div>
		
				<div class="card col-sm-3" style="float:left; ">
				  <img class="card-img-top" src="/sites/Index/3.jpg" alt="Card image cap">
				  <div class="card-body">
					<h5 class="card-title">Card title</h5>
					<a class="card-text">This is a longer card with longer.</a>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				  </div>
				</div>
		
				<div class="card col-sm-3" style="float:left; ">
						<img class="card-img-top" src="/sites/Index/3.jpg" alt="Card image cap">
						<div class="card-body">
						  <h5 class="card-title">Card title</h5>
						  <a class="card-text">This is a longer card with longer.</a>
						  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						</div>
			 </div>
				<div class="card col-sm-3" style="float:left; ">
						<img class="card-img-top" src="/sites/Index/a.jpg" alt="Card image cap">
						<div class="card-body">
						  <h5 class="card-title">Card title</h5>
						  <a class="card-text">This is a longer card with longer.</a>
						  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						</div>
			 </div>
				<div class="card col-sm-3" style="float:left; ">
						<img class="card-img-top" src="/sites/Index/b.jpg" alt="Card image cap">
						<div class="card-body">
						  <h5 class="card-title">Card title</h5>
						  <a class="a2">This is a longer card with longer.</a>
						  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						</div>
			 </div>
		
		</div>

		<div style="clear:both"></div>


		<div id= "item">
				<span>团队 OUR TEAM</span><br>
				<span style="font-size:12px;color:#d29908">我们的团队</span>
				<span></span>
				<hr>
        </div>
		
				<div style="clear:both"></div>
				
				<div class=".card-columns">
						<div class="card col-sm-3" style="float:left; ">
						  <img class="card-img-top" src="/sites/Index/6.jpg" alt="Card image cap">
						  <div class="card-body">
							<h5 class="card-title">Card title</h5>
							<a class="card-text">This is a longer card with longer.</a>
							<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						  </div>
						</div>
				
						<div class="card col-sm-3" style="float:left; ">
						  <img class="card-img-top" src="/sites/Index/5.jpg" alt="Card image cap">
						  <div class="card-body">
							<h5 class="card-title">Card title</h5>
							<a class="card-text">This is a longer card with longer.</a>
							<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						  </div>
						</div>
				
						<div class="card col-sm-3" style="float:left; ">
						  <img class="card-img-top" src="/sites/Index/7.jpg" alt="Card image cap">
						  <div class="card-body">
							<h5 class="card-title">Card title</h5>
							<a class="card-text">This is a longer card with longer.</a>
							<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						  </div>
						</div>
				
						<div class="card col-sm-3" style="float:left; ">
						  <img class="card-img-top" src="/sites/Index/3.jpg" alt="Card image cap">
						  <div class="card-body">
							<h5 class="card-title">Card title</h5>
							<a class="card-text">This is a longer card with longer.</a>
							<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						  </div>
						</div>
				
						<div class="card col-sm-3" style="float:left; ">
								<img class="card-img-top" src="/sites/Index/3.jpg" alt="Card image cap">
								<div class="card-body">
								  <h5 class="card-title">Card title</h5>
								  <a class="card-text">This is a longer card with longer.</a>
								  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
								</div>
					 </div>
						<div class="card col-sm-3" style="float:left; ">
								<img class="card-img-top" src="/sites/Index/a.jpg" alt="Card image cap">
								<div class="card-body">
								  <h5 class="card-title">Card title</h5>
								  <a class="card-text">This is a longer card with longer.</a>
								  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
								</div>
					 </div>
				
				</div>


				<div style="clear:both"></div>
				<div id= "item">
                        <img>  </img>
						<span>营销活动</span><br>
						<span style="font-size:12px;color:#d29908"></span>
						<span></span>
						<hr>
				</div>
				<div id ='descount'> 



				</div>