









<style>
foot{
   
    width:100%;
    margin-top:5vw;
    font-size:1em;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:rgb(19, 19, 19);
}
foot>div{
    width:80%;
    display:flex;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    border-top: 1px solid #aaa;
    
}

foot>div>p{
    display: block;
    font-size:0.8em;
    color:rgb(45, 45, 45);
}
    
</style> 
<foot>
    <div>
    <span>郑州三原色</span>
    <p>郑州市上街区许昌路中段</p>
    </div>
</foot>
 
</body>
</html>