 
<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="stylesheet" href="/public/weui/dist/style/weui.min.css"/>
    <link rel="stylesheet" href="/storage/k.css"/>
    <script src="/public/jquery-2.1.3.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>三原色</title>
</head> 
<body>
<style>
   body{
       width:100vw;
       height:100vh;
       font-size:2vh;
       background:url(/sanyuanse/Wx-member/back.png)  ;
   }

</style>
<script>
    /*
    var h=$(window).height();
    alert(h);
    */
</script>