<link rel="stylesheet" href="/public/weui/dist/style/weui.min.css"/>
<link rel="stylesheet" href="/storage/k.css"/>

<style>
    .boss{
        display: flex;
        flex-direction:column;
        justify-content:conter;
        align-items:center;
        margin:10px;
    }
    .input1 {
        width: 280px;;
        height:50px;
        border:1px solid #aaa;
        border-radius: 3px;
        margin:10px;
    }
    .logo {
      width:60%;
      height:auto;
    }
    .member{
        height:260px;
        padding:10px;
        color:rgb(160, 8, 8);
    }

</style>

<div class ="boss">
  <img class = "logo" src = "/sanyuanse/logo.jpg"></img>
 <div class ='member'>
     <span>会员权益 </span>
     <div>
          


     </div>
 </div>
 <div class ="text1">输入手机号码即刻成为会员</div>
 <form>
    <input class="input1" class="weui-input" type="tel" placeholder="请输入手机号">
    <a style ="width:50%" href="javascript:;" class="weui-btn weui-btn_primary">确定</a>
  </form>
</div>

<div class="weui-flex">
        <div class="weui-flex__item">
             <div class="placeholder">
                 <img class = "logo" src = "/sanyuanse/logo.jpg"></img>
             </div>
        </div>

    </div>