
<style>
body{
    font-size: 30px;

}
 
</style>

</div>
<div class="weui-flex">
    <div class="weui-flex__item"><div class="placeholder">weui4</div></div>
    <div class="weui-flex__item"><div class="placeholder">weui5</div></div>
    <div class="weui-flex__item"><div class="placeholder">weui6</div></div>
</div>
<div class="weui-flex">
    <div class="weui-flex__item"><div class="placeholder">weui</div></div>
    <div class="weui-flex__item"><div class="placeholder">weui</div></div>
    <div class="weui-flex__item"><div class="placeholder">weui</div></div>
    <div class="weui-flex__item"><div class="placeholder">weui</div></div>
</div>