/*
*  自由样式表存储库
*/
.a1{
    display: inline-block;
    width:100px;
    text-decoration:none;  
    color:rgb(84, 84, 84);
  }
  .a1:hover{
    text-decoration:none;  
    color:rgb(180, 33, 84);
    font-weight: 900;  
  }
  
  .a2{
    display: inline-block;
    text-decoration:none;  
    color:rgb(118, 118, 118);
  }
  .a2:hover{
    text-decoration:none;  
    color:rgb(19, 19, 19);
  }
  .likebutton{
  cursor: pointer;
  }



  .border02{
    border-style:solid;
    border-width: 1px;
    border-color: rgb(155, 150, 150);
    border-radius:10px; 
}
.text-yellow{
    color:rgb(155, 106, 8);
}

.text-red{
    font-size: 1.5em;
    color:rgb(227, 18, 39);

}

.text3{
    color:rgb(176, 176, 176);
    font-size: 0.8em;
}
.k-btn{
    font-size:1em;
    width: 50%;
    font-weight: 900px;;
}
.k-btn2{
  color:rgb(0, 0, 0);
    border-style:none;
    background-color:rgb(18, 135, 223);
    font-size:1em;
    width: 50%;
    height:120px;
    font-weight: 900px;
    border-radius: 20px;
}
.k-btn2:hover{
    background-color:rgb(11, 109, 179);
    font-size:1em;
    width: 50%;
    font-weight: 900px;;
}
.content1{
    color:rgb(57, 57, 57);
    font-size: 0.9em;
    height:300px;
    width:70%;
    border-radius:15px;
    padding:80px;
    margin-bottom:100px;
    text-align: left;
}

/*微信界面 黑色标提*/
.logo-title{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:conter;
    align-items:center;
    margin-top:10px;;
    }
  .logo-title>div{
        display:flex;
        flex-direction:column;
        justify-content:conter;
        align-items:center;
        background: repeating-linear-gradient(to bottom,rgb(61, 69, 67) ,rgb(51, 56, 57)90%,rgb(45, 44, 44) );
        height:120px;
        color:rgb(200, 194, 194);
        border-radius: 10px;
        width:98%;
        box-shadow: 15px 15px 15px 8px #171616b8;
    }
   .logo-title>div>div{
          font-size: 1.5em;
          margin:auto;
    }
/*元素居中*/
.k-center{
    display:flex;
    flex-direction:column;
    justify-content:conter;
    align-items:center;
}
.k-row{
    display:flex;
    flex-direction:row;
    justify-content:conter;
    align-items:center;
}
