/*
*  自由样式表存储库
*/
.a1{
    display: inline-block;
    width:100px;
    text-decoration:none;  
    color:rgb(84, 84, 84);
  }
  .a1:hover{
    text-decoration:none;  
    color:rgb(180, 33, 84);
    font-weight: 900;  
  }
  
  .a2{
    display: inline-block;
    text-decoration:none;  
    color:rgb(176, 123, 1);
  }
  .a2:hover{
    text-decoration:none;  
    color:rgb(152, 116, 10);
    font-weight: 900;  
  }
  .likebutton{
  cursor: pointer;
  }