
<style>
#slide{
    margin: 20px;
}

</style>
<div id="slide"> 
<span>幻灯片列表:</span>

<div class="container-fluid ">
        <div class="row">
                <div class="col-lg-3">
                    <img>微缩图<img>
                </div>
                <div class="col-lg-2">
                    <img>标题<img>
                </div>
                <div class="col-lg-5">
                   <button class="btn">操作</button>
                </div>
        </div>
<hr>
        <div class="row">
                <div class="col-lg-3">
                    <img src="/sites/Manage/1.jpg" style="height:50px;width:auto"><img>
                </div>
                <div class="col-lg-2">
                    <img>优惠活动1<img>
                </div>
                <div class="col-lg-1">
                   <button class="btn btn-light">编辑</button>
                </div>
        </div>

<hr>

        <div class="row">
                <div class="col-lg-3">
                    <img src="/sites/Manage/2.jpg" style="height:50px;width:auto"><img>
                </div>
                <div class="col-lg-2">
                    <img>优惠活动1<img>
                </div>
                <div class="col-lg-1">
                   <button class="btn btn-light">编辑</button>
                </div>
        </div>

<hr>

        <div class="row">
                <div class="col-lg-3">
                    <img src="/sites/Manage/3.jpg" style="height:50px;width:auto"><img>
                </div>
                <div class="col-lg-2">
                    <img>优惠活动1<img>
                </div>
                <div class="col-lg-1">
                   <button class="btn btn-light">编辑</button>
                </div>
        </div>

</div>

</div>




     <link  href="/public/Jcrop/css/jquery.Jcrop.css" rel="stylesheet">
<style>
    #kid{
        width:200px;
        height:500px;
        position:relative; /* or fixed or absolute */
    }

</style>





     
     <script src="/public/Jcrop/js/jquery.Jcrop.js"></script>
<script>
    $(document).ready(function(){
    });
</script>




